.circle-sm {
    width: 48px;
    height: 48px;
    border-radius: 50%
}

.circle-md {
    width: 135px;
    height: 135px;
    border-radius: 50%
}

.circle-lg {
    width: 210px;
    height: 210px;
    border-radius: 50%
}

.circle-lg-x {
    width: 500px;
    height: 500px;
    border-radius: 50%
}